body {
    background: linear-gradient(135deg, #FF007F, #00C9FF); /* gradiente vibrante */
    color: #fff;
    font-family: 'Poppins', sans-serif; /* fonte mais moderna */
    margin: 0;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 80%;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* fundo semitransparente para destacar conteúdo */
    border-radius: 15px;
}

.etapa {
    display: none;
}

.etapa.ativa {
    display: block;
}

button {
    background-color: #FF6B81; /* cor de fundo vibrante */
    border: none;
    padding: 12px 25px;
    margin: 15px 8px;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-radius: 30px; /* bordas arredondadas */
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* sombra suave */
    transition: all 0.3s ease;
}

button:hover {
    background-color: #FF4B61; /* cor mais intensa ao passar o mouse */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); /* sombra mais forte no hover */
    transform: translateY(-2px); /* efeito de "flutuar" */
}

button:active {
    transform: translateY(2px); /* efeito de pressionar o botão */
}

img {
    max-width: 90%;
    margin-bottom: 20px;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05); /* efeito de zoom ao passar o mouse */
}
